#body1{background-image: url('slika1.jpg'); background-repeat: no-repeat; background-attachment: fixed; 
    background-size: 100% 100%;}
h1{font-size:25pt;font-family: tahoma,helvetica,sans-serif;color: white;}
nav ul{display:flex; align-items: right; justify-content:right;}
nav ul li { list-style: none; width: 8em;}
nav ul li:hover {text-decoration: underline;}
nav ul li a { text-decoration: none; color:white }

p{font-size:32px; font-family: tahoma,helvetica,sans-serif;color:black;font-weight: bold;position:absolute; top:38%;left:50%;transform:translate(-50%,-50%);}
p1{font-size:20px; font-family: tahoma,helvetica,sans-serif;color:black;position:absolute; top:49%;;text-align:center;left:10%;right:10%;}
p2{font-size:20px; font-family: tahoma,helvetica,sans-serif;color:white;font-weight: bold;position:absolute; left:2%;top:2%;}
p3{font-size:20px; font-family: tahoma,helvetica,sans-serif;color:white;position:absolute; top:60%;;text-align:center;left:10%;right:10%;background-color:#333; width: 75%;}
p4{font-size:32px; font-family: tahoma,helvetica,sans-serif;color:black;position:absolute; left:40%;right:40%; top:15%;}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: tahoma,helvetica,sans-serif;;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }